ul {
    margin: 0;
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: row;
    gap: 25px;
    margin-left: 30px;
    margin-top: 30px;
    flex-wrap: wrap;
}

img {
    width: 100px;
    height: 100px;
}

li {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 10px;
    outline: 1px solid black;
    cursor: pointer;
}

div > div {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: 30px;
}